<%- include('header'); -%>

<h2>This is the about page</h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus est sunt
  consequuntur dolores et, rem quia aspernatur voluptatum nihil error veritatis
  rerum, fugit aperiam eaque excepturi accusamus iusto velit aliquam.
</p>
<%- include('footer'); -%>
